/* Start preset */

@import url("https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kdam+Thmor+Pro&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  font-family: "Cairo", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #7d4abb;
  padding: 0px 150px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.articleT-two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.start {
  color: #7d4abb;
  margin-top: 30px;
  background-color: #ffffff;
  padding: 0.3em 5em;
  letter-spacing: 1px;
  border: 1px solid #565656;
  border-radius: 50px;
  text-transform: uppercase;
}

.start:hover {
  background-color: #a779bc;
  color: white;
  border: 2px solid #565656;
}

.user-name {
  color: #7d4abb;
  margin-top: 30px;
  background-color: #ffffff;
  padding: 0.8em 1.5em;
  letter-spacing: 1px;
  border: 1px solid #565656;
  border-radius: 20px;
  text-transform: uppercase;
  width: 280px;
}

img,
picture,
video,
canvas,
svg {
  margin-left: -25px;
  width: 350px;
  margin-bottom: 20px;
}

.description {
  width: 80%;
  padding-left: 20px;
}

p {
  width: 90%;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.8;
  letter-spacing: 1px;
  padding-top: 18px;
}

/* End preset */
